/* Footer */
footer {
  background: $background-color-1;
  padding: 4rem 0;
  border-radius: 10px;
  box-shadow: $shadow-1;
  text-align: center;
  a {
    margin: 2rem;
    color: $color-primary;
    font-size: 2.5rem;
  }
}
/* Footer */
