/* Skills */
.skills {
  span {
    display: block;
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 15px;
    position: relative;
    color: $color-body;
    margin-bottom: 5rem;
  }
  ul {
    display: flex;
    column-gap: 7rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

    li {
      background: linear-gradient(145deg, #1e2024, #23272b);
      padding: 1rem 0;
      border-radius: 10px;
      -webkit-box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
      box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
      margin-bottom: 5rem;
      width: fit-content;
      padding: 3rem;

      img {
        width: 5rem;
      }
    }
  }
}
/* Skills */
